{% extends 'adminapp/components-layout.html' %}
{% load static %}
{% block content %}

<section class="section dashboard">

  <!-- Third Row -->
  <div class="row">
    <div class="col-lg-12"> 

          <!-- Recent Invoices Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

              <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 table-title">
                        <h5><i class="bi bi-arrow-left"></i> People List</h5>
                    </div>
                    <div class="col-lg-6 table-title btn-col">
                        <button class="btn-refresh"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
                        <button class="btn-blue" type="submit">Add New Person</button>

                    </div>
                </div>

                
                <table class="table">
                  <thead class="table-light">
                    <tr>					
                      <th scope="col">Firstname</th>
                      <th scope="col">Lastname</th>
                      <th scope="col">Company</th>
                      <th scope="col">Country</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Email</th>
                      <th scope="col">...</th>      

                    </tr>
                  </thead>

                  <tbody>
                    <tr>					
                      <td scope="row">
                        Tom	William
                      </td>
                      <td>IDURAR</td>
                      <td>
                        <div class="status-box draft-box_color">
                            <span class="small">🇦f Africa</span>
                        </div>
                      </td>
                      <td>+1120024343</td>
                      <td>test@gmail.com</td>
                      <td>...</td>
                    </tr>
                    <td scope="row">
                        Tom	William
                      </td>
                      <td>IDURAR</td>
                      <td>
                        <div class="status-box draft-box_color">
                            <span class="small">🇦f Africa</span>
                        </div>
                      </td>
                      <td>+1120024343</td>
                      <td>test@gmail.com</td>
                      <td>...</td>
                    </tr>
                  </tbody>
                </table> 

              </div>
            </div>
          </div><!-- End Recent Invoices Card -->
      </div>
    </div>
  </div><!-- End Third Row -->
</section>

{% endblock %}